<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../views/css/index.css">
    <title>Elias Cardona</title>
</head>
<body>
    <header class="header">
        <div>
            <img src="./img/logo.jpg" alt="logotype">
        </div>
    </header>
    <main>
        <div id="intro-title">
            <h1 class="mega-title">
                MONETIZA TU CONTENIDO
                <span style="color: rgb(255, 173, 0);">SIN PAGAR CIENTOS DE DOLARES AL MES</span>
            </h1>
        </div>

        <div class="underline-col">
            <p>
                Contamos con tecnología de punta capaz de monetizar cualquier tema que te 
                consideres capaz de enseñar.
            </p>
            <p>
                ¡No importa el giro de tu habilidad o conocimiento!
                Si eres un instructor de gimnasio, danza o cocina, esta plataforma es para ti.
            </p>
            <p>
                Si eres un instructor de gimnasio, danza o cocina, esta plataforma es para ti.
            </p>
        </div>

        <div id="section-one" class="col-6">
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/5vNYuffFuqA" 
                title="some video" allow="autoplay" 
                frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="el">
                <div style="padding: 15px 10px 35px 10px;">
                    <div class="orange-title-section">
                        Aprovecha de la demostración gratuita que tenemos lista para ti
                    </div>
                    <div style="padding: 6px;">
                        <p>
                            No hay nada que te queramos ocultar, te presentamos de manera explícita 
                            las capacidades de nuestra plataforma
                        </p>
                        <p>
                            Lo que veras al entrar al demo es una plataforma identica a la real, solo 
                            que tenemos una base de datos en modo de prueba, así como el formulario de pago... 
                            de ahí en más todo funciona exactamente como lo haría un producto diseñado para ti
                        </p>
                    </div>
                    <div class="centered-grid">
                        <div>
                            <a href="https://firebase-next-umber.vercel.app" target="_blank">
                                <button class="sell-btn">
                                    <span>Visita el demo</span>
                                    <small>¡Pruébalo por ti mismo!</small>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class=iconsBox>
            <div class="el"></div>
            <div class="el">
                <h2 style= "color: rgb(255, 173, 0)">Increibles capacidades</h2>
            </div>
            <div class="el" >
                <ion-icon name="cash-outline" style= "color: rgb(255, 173, 0); font-size: 62px;"></ion-icon>
                <hr style="width: 100%; color: #fefefe">
            </div>
            <div class="el">
                <p >
                    A diferencia de otras plataformas nosotros hemos invertido horas en el desarrollo de una landing 
                    page efectiva para la venta de cursos online
                </p>
            </div>
            <div class="el" >
                <ion-icon name="code-slash-outline" style= "color: rgb(255, 173, 0); font-size: 62px;"></ion-icon>
                <hr style="width: 100%; color: #fefefe">
            </div>
            <div class="el">
                <p >
                    Calidad en el código es lo que nos distingue. Nuestra plataforma esta programada con buenas 
                    prácticas
                </p>
            </div>
            <div class="el" >
                <ion-icon name="analytics-outline" style= "color: rgb(255, 173, 0); font-size: 62px;"></ion-icon>                    
                <hr style= "width: 100%; color: #fefefe">
            </div>
            <div class="el">
                <p >
                    Basada en las necesidades del mercado de infoproductos y con un precio que no encontrarás en 
                    ningún otro lugar
                </p>
            </div>
            <div class="el" >
                <ion-icon name="bag-handle-outline" style= "color: rgb(255, 173, 0); font-size: 62px;"></ion-icon>                    
                <hr style="width: 100%; color: #fefefe">
            </div>
            <div class="el">
                <p >
                    Plataforma automatizada y 'ready to use', con las cuniones necesarias 
                    para vender contenido exclusivo. Desde la landing page, hasta el sistema de pagos, 
                    manejo de usuarios premium y automazación administrativa.
                </p>
            </div>
        </div>        

        <div class="col-6">
            <div class="cover">
                <img src="./img/result.jpg" alt="result">
            </div>
            <div class="el">
                <div style="padding: 15px 10px 35px 10px;">
                    <h3>Dentro del demo se encuentra una plataforma de venta</h3>
                    <p>
                        No más captacion de leads, no más email "marketing". Nosotros ofrecemos una plataforma 
                        para el momento exclusivo de la venta de tu infoproducto, tu equipio de marketing hará el 
                        resto en sus respectivas plataformas publicitarias
                    </p>
                </div>
            </div>
        </div>
        
        <div class="underline-col">
            <h3>NO MÁS TARIFAS DE TRANSACCIÓN EXORBITANTES</h3>
            <p>
                Dígase de licencias de email "marketing", o simplemente de las altas tarfias 
                que te cobrán las plataformas de transacciones online, ese no será el problema aquí.                
            </p>
            <h3>NO MÁS ESTAFAS</h3>
            <p>
                Sin cargos ocultos, ni cargos recurrentes. Las suscripciones 
                pueden ser canceladas en cualquier momento y sin ningún costo extra.
            </p>
            <h3>NO MÁS VUELVASE RICO DE  HOY A MAÑANA</h3>
            <p>
                Vendedores de humo hay bastantes, mejor tu sé el propio contructor de tu modelo
                de negocio, hazlo de forma original y efectiva.                
            </p>
        </div>
        
        <div id="last" class="text-center">
            <h1 class="mega-title">
                <span style="color: rgb(255, 173, 0);">¡EY TU!</span>
                MONETIZA TU CONTENIDO
            </h1>
            <h3>Y VIVE LA VIDA DE TUS SUEÑOS</h3>
        </div>
        
        <div class="centered-grid">
            <div class="el">
                <div class="cover">
                    <img src="./img/boy.jpeg" alt="result">
                </div>
            </div>
        </div>
        
        <div class="cta-section">
            <div class="centered-grid">
                <div>
                    <a href="https://firebase-next-umber.vercel.app" target="_blank">
                        <button class="sell-btn">
                            <span>Visita el demo</span>
                            <small>¡Pruébalo por ti mismo!</small>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        
    </main>
    <footer class="footer">
        <span>eliacardona</span>
        <hr>
        <a href="/terms.html">Terms and conditions</a>
        <br>
        <br>
        <a href="/privacy.html">Privacy policy</a>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
